.margin_top{margin-top:22px;}
.col-md-9{border:none !important;}
.table{color:#000;border:1px solid #747474; background:skyblue;}
table td,th{color:#000;border:1px solid #fff;}
table th{background:grey;color:#fff;}
.dnone { display:none }
